<% if notes.present? && notes.any? %>
  <div class="notes-masonry gap-3">
    <% notes.each do |note| %>
      <!--      Note content-->
      <div class="note-card">
        <!--      Shared Notes Badge-->


        <div class="d-flex justify-content-between">
          <h6 class="card-title mb-1">
            <%= link_to note.title,
                        note_path(note),
                        class: "text-decoration-none text-dark" %>
          </h6>

          <%= render "notes/favorite_button", note: note %>
        </div>
        <!--        <p class="text-muted small mt-2">-->
        <%#= truncate(note.description, length: 100) %>
        <!--        </p>-->
        <p class="card-text text-muted small"><%= note.description %></p>
        <%= render 'share_badge', note: note %>
        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="shareModalLabel">Share note with</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form_with url: note_note_shares_path(note), local: true do |f| %>
                  <div class="input-group mb-3">
                    <%= text_field_tag :email, nil, placeholder: "User email", class: "form-control" %>
                    <button class="btn btn-outline-dark">Share</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer bg-transparent border-0 text-muted small d-flex justify-content-between align-items-center">
          <small class="text-muted">
            <% if note.updated_at > note.created_at %>
              Updated: <%= note.updated_at.strftime("%b %d, %Y") %>
            <% else %>
              Created on: <%= note.created_at.strftime("%b %d, %Y") %>
            <% end %>
          </small>
          <div class="d-flex gap-3 pt-3">
            <%= link_to edit_note_path(note),
                        class: " text-dark text-decoration-none" do %>
              <i class="bi bi-pencil"></i>
            <% end %>

            <p type="" class="text-dark" data-bs-toggle="modal" data-bs-target="#shareModal">
              <i class="bi bi-share"></i>
            </p>

            <% if note.user == current_user %>
              <%= button_to note_path(note),
                            method: :delete,
                            class: "btn btn-link text-danger p-0" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            <% else %>
              <%= button_to note_share_path(note),
                            method: :delete,
                            data: { turbo_confirm: "Remove this note from your notes?" },
                            class: "btn btn-link text-danger p-0" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<%end %>