<% if notes.present? && notes.any? %>
  <div class="notes-masonry gap-3">
    <% notes.each do |note| %>
      <!--      Note content-->
      <div class="note-card">
        <!--      Shared Notes Badge-->


        <div class="d-flex justify-content-between">
          <h6 class="card-title mb-1">
            <%= link_to note.title,
                        note_path(note),
                        class: "text-decoration-none text-dark" %>
          </h6>

          <%= render "notes/favorite_button", note: note %>
        </div>
        <!--        <p class="text-muted small mt-2">-->
        <%#= truncate(note.description, length: 100) %>
        <!--        </p>-->
        <p class="card-text text-muted small"><%= note.description %></p>
        <%= render 'share_badge', note: note %>
        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="shareModalLabel">Share note with</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form_with url: note_note_shares_path(note), local: true do |f| %>
                  <div class="input-group mb-3">
                    <%= text_field_tag :email, nil, placeholder: "User email", class: "form-control" %>
                    <button class="btn btn-outline-dark">Share</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%= render "notes/note_footer", note: note %>

      </div>
    <% end %>
  </div>
<%end %>