<h1 class="mb-4">My Notes</h1>

<div class="mb-3">
  <%= link_to "New Note", new_note_path, class: "btn btn-primary me-2" %>
  <% if user_signed_in? && current_user.notes.exists? %>
    <%= link_to "Favorites", favorites_notes_path,
                class: "btn btn-warning me-2" %>
  <% end %>

</div>

<% if @notes.present? && @notes.any? %>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @notes.each do |note| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to note.title, note %>
              <% if note.favorite %> <span class="text-warning">⭐</span>
              <% end %>
            </h5>
            <p class="card-text"><%= note.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <% if note.updated_at > note.created_at %>
                Updated: <%= note.updated_at.strftime("%b %d, %Y") %>
              <% else %>
                Created: <%= note.created_at.strftime("%b %d, %Y") %>
              <% end %>
            </small>

            <br>
            <div class="d-flex gap-3">
              <%= link_to edit_note_path(note), class: "text-primary fs-5" do %>
                <i class="bi bi-pencil"></i>
              <% end %>

              <%= button_to note_path(note),
                            method: :delete,
                            data: { confirm: "Delete this note?" },
                            class: "btn btn-link text-danger fs-5 p-0" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No notes yet.</p>
<% end %>
