<div class="mb-3">
  <%= link_to "All Notes", notes_path, class: "btn btn-secondary btn-sm me-2" %>
</div>

<h3><%= @note.title %><%= @note.favorite ? " â­" : "" %></h3>
<% if @note.user == current_user %>
  <hr>

  <% if @note.shared_users.any? %>
    <small class="text-muted">
      Shared with:
      <%= @note.shared_users.pluck(:email).join(", ") %>
    </small>
  <% end %>
<% end %>


<p><%= @note.description %></p>
<small class="text-muted">
  <% if @note.updated_at > @note.created_at %>
    Updated: <%= @note.updated_at.strftime("%b %d, %Y") %>
  <% else %>
    Created: <%= @note.created_at.strftime("%b %d, %Y") %>
  <% end %>
</small>
<br/>

<div class="d-flex gap-3">
  <%= link_to edit_note_path(@note), class: "text-primary fs-5" do %>
    <i class="bi bi-pencil"></i>
  <% end %>
  <%= button_to note_path(@note),
                method: :delete,
                data: { confirm: "Delete this note?" },
                class: "btn btn-link text-danger fs-5 p-0" do %>
    <i class="bi bi-trash"></i>
  <% end %>
</div>


