
<h3 class="mt-3"><%= @note.title %><%= @note.favorite ? " â­" : "" %></h3>

<% if @note.user == current_user %>
  <hr>


<% end %>


<p><%= @note.description %></p>
<small class="text-muted">
  <% if @note.updated_at > @note.created_at %>
    Updated: <%= @note.updated_at.strftime("%b %d, %Y") %>
  <% else %>
    Created: <%= @note.created_at.strftime("%b %d, %Y") %>
  <% end %>
</small>
<br/>
<% if @note.shared_users.any? %>
  <small class="text-muted">
    Shared with:
    <%= @note.shared_users.pluck(:email).join(", ") %>
  </small>
<% end %>
<br/>

<div class="d-flex gap-3">
  <%= link_to edit_note_path(@note), class: "text-dark fs-5" do %>
    <i class="bi bi-pencil"></i>
  <% end %>
  <p type="" class="text-dark fs-5" data-bs-toggle="modal" data-bs-target="#shareModal">
    <i class="bi bi-share" ></i>
  </p>


  <%= button_to note_path(@note),
                method: :delete,
                data: { confirm: "Delete this note?" },
                class: "btn btn-link text-danger fs-5 p-0" do %>
    <i class="bi bi-trash"></i>
  <% end %>



  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="shareModalLabel">Share note with</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with url: note_note_shares_path(@note), local: true do |f| %>
            <div class="input-group mb-3">
              <%= text_field_tag :email, nil, placeholder: "User email", class: "form-control" %>
              <button class="btn btn-outline-dark">Share</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



